
$font-face-src: '../fonts/';

//@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Quicksand:400,300);

// Our variables
$base-font-family: "DroidSerif", "Times New Roman", Times, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ddd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$post-hover-color: #fff933;
//$post-hover-color: #6dcff6;

// Width of the content area
$content-width:    1170px;

$on-palm:          600px;
$on-laptop:        960px;