
$font-face-src: '../fonts/';

//@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Quicksand:400,300);

// Our variables
$base-font-family: 'PTSerif', Georgia, serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #ddd;
$link-color:      #00aeef;

$grey-color:       #888;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$post-hover-color: #fff933;
//$post-hover-color: #6dcff6;

// Width of the content area
$site-width:    1170px;
$content-width: 800px;


$tablet:        1024px;
$mobile:          768px;
